body{
    width: 100%;
    height: 100vh;
    background-image: url(../img/fisi_portada.jpg);
    /* hacer la imagen borrosa */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-color: rgba(0,0,0,0.5);
    margin: 0;
    padding: 0;
}
.row-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    padding: 2rem;
}
.container-login{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.col-form{
    background-color: #fff;
    border-radius: 10px;
    padding: 4rem;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.footer{
    color: #ffffff;
    padding: 1.5rem;
    /* fijar en la parte inferior de la pagina */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer p{
    margin: 0;
    padding: 0;
}



@media screen and (max-width: 768px){
    .col-form{
        padding: 1.5rem;
    }
}